<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>[哈哈]</string>
		<key>face_id</key>
		<string>001</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[斜眼笑]</string>
		<key>face_id</key>
		<string>002</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[飞吻]</string>
		<key>face_id</key>
		<string>003</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[花痴]</string>
		<key>face_id</key>
		<string>004</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[笑哭了]</string>
		<key>face_id</key>
		<string>005</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[墨镜笑脸]</string>
		<key>face_id</key>
		<string>006</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[好吃]</string>
		<key>face_id</key>
		<string>007</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[亲亲]</string>
		<key>face_id</key>
		<string>008</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吓死了]</string>
		<key>face_id</key>
		<string>009</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[睡着了]</string>
		<key>face_id</key>
		<string>010</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[放声大哭]</string>
		<key>face_id</key>
		<string>011</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[怒火中烧]</string>
		<key>face_id</key>
		<string>012</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[单眼吐舌]</string>
		<key>face_id</key>
		<string>013</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[嘻嘻]</string>
		<key>face_id</key>
		<string>014</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[苦笑]</string>
		<key>face_id</key>
		<string>015</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大笑]</string>
		<key>face_id</key>
		<string>016</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[眨眼]</string>
		<key>face_id</key>
		<string>017</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[微笑天使]</string>
		<key>face_id</key>
		<string>018</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[冷汗]</string>
		<key>face_id</key>
		<string>019</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[感冒]</string>
		<key>face_id</key>
		<string>020</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[晕]</string>
		<key>face_id</key>
		<string>021</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[羞涩微笑]</string>
		<key>face_id</key>
		<string>022</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[眯眼吐舌]</string>
		<key>face_id</key>
		<string>023</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[不高兴]</string>
		<key>face_id</key>
		<string>024</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[害怕]</string>
		<key>face_id</key>
		<string>025</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[生气]</string>
		<key>face_id</key>
		<string>026</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[沉默]</string>
		<key>face_id</key>
		<string>027</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[冷漠]</string>
		<key>face_id</key>
		<string>028</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[痛苦]</string>
		<key>face_id</key>
		<string>029</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[累]</string>
		<key>face_id</key>
		<string>030</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[困]</string>
		<key>face_id</key>
		<string>031</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[困扰]</string>
		<key>face_id</key>
		<string>032</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吃惊]</string>
		<key>face_id</key>
		<string>033</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[龇牙咧嘴]</string>
		<key>face_id</key>
		<string>034</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吐舌]</string>
		<key>face_id</key>
		<string>035</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[无语]</string>
		<key>face_id</key>
		<string>036</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[羞涩亲亲]</string>
		<key>face_id</key>
		<string>037</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[松了口气]</string>
		<key>face_id</key>
		<string>038</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[累死了]</string>
		<key>face_id</key>
		<string>039</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[缄默]</string>
		<key>face_id</key>
		<string>040</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[得意]</string>
		<key>face_id</key>
		<string>041</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[傲慢]</string>
		<key>face_id</key>
		<string>042</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[震惊]</string>
		<key>face_id</key>
		<string>043</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[啊]</string>
		<key>face_id</key>
		<string>044</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[晕头转向]</string>
		<key>face_id</key>
		<string>045</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[汗]</string>
		<key>face_id</key>
		<string>046</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[微笑亲亲]</string>
		<key>face_id</key>
		<string>047</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[担心]</string>
		<key>face_id</key>
		<string>048</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[痛]</string>
		<key>face_id</key>
		<string>049</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[恶魔微笑]</string>
		<key>face_id</key>
		<string>050</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[哭]</string>
		<key>face_id</key>
		<string>051</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[脸红]</string>
		<key>face_id</key>
		<string>052</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[叹气]</string>
		<key>face_id</key>
		<string>053</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[困惑]</string>
		<key>face_id</key>
		<string>054</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[失望]</string>
		<key>face_id</key>
		<string>055</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[沉思]</string>
		<key>face_id</key>
		<string>056</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[南瓜]</string>
		<key>face_id</key>
		<string>057</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[微笑的猫]</string>
		<key>face_id</key>
		<string>058</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[笑出眼泪的猫]</string>
		<key>face_id</key>
		<string>059</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[足球]</string>
		<key>face_id</key>
		<string>060</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[篮球]</string>
		<key>face_id</key>
		<string>061</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[保龄球]</string>
		<key>face_id</key>
		<string>062</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[高尔夫球动]</string>
		<key>face_id</key>
		<string>063</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[拳击手套]</string>
		<key>face_id</key>
		<string>064</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[奖杯]</string>
		<key>face_id</key>
		<string>065</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[军功章]</string>
		<key>face_id</key>
		<string>066</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[筛子]</string>
		<key>face_id</key>
		<string>067</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[游戏手柄]</string>
		<key>face_id</key>
		<string>068</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[老虎机]</string>
		<key>face_id</key>
		<string>069</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[水晶球]</string>
		<key>face_id</key>
		<string>070</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[黑桃]</string>
		<key>face_id</key>
		<string>071</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[爆竹]</string>
		<key>face_id</key>
		<string>072</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[红包]</string>
		<key>face_id</key>
		<string>073</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[台球]</string>
		<key>face_id</key>
		<string>074</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[调色盘]</string>
		<key>face_id</key>
		<string>075</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[彩虹狗]</string>
		<key>face_id</key>
		<string>076</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[拉炮彩带]</string>
		<key>face_id</key>
		<string>077</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[焰火]</string>
		<key>face_id</key>
		<string>078</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[丝带]</string>
		<key>face_id</key>
		<string>079</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[闪亮]</string>
		<key>face_id</key>
		<string>080</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[蝴蝶结]</string>
		<key>face_id</key>
		<string>081</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[风筝]</string>
		<key>face_id</key>
		<string>082</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[垒球]</string>
		<key>face_id</key>
		<string>083</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[排球]</string>
		<key>face_id</key>
		<string>084</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[羽毛球]</string>
		<key>face_id</key>
		<string>085</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[乒乓球]</string>
		<key>face_id</key>
		<string>086</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[潜水]</string>
		<key>face_id</key>
		<string>087</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[泰迪熊]</string>
		<key>face_id</key>
		<string>088</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[游戏操作杆]</string>
		<key>face_id</key>
		<string>089</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[画框]</string>
		<key>face_id</key>
		<string>090</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[奖牌]</string>
		<key>face_id</key>
		<string>091</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[铜牌]</string>
		<key>face_id</key>
		<string>092</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[银牌]</string>
		<key>face_id</key>
		<string>093</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[金牌]</string>
		<key>face_id</key>
		<string>094</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[棒球]</string>
		<key>face_id</key>
		<string>095</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[飞镖]</string>
		<key>face_id</key>
		<string>096</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大小王]</string>
		<key>face_id</key>
		<string>097</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[悠悠球]</string>
		<key>face_id</key>
		<string>098</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[红中]</string>
		<key>face_id</key>
		<string>099</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[方片]</string>
		<key>face_id</key>
		<string>100</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[魔法棒]</string>
		<key>face_id</key>
		<string>101</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[入场券]</string>
		<key>face_id</key>
		<string>102</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[烟花]</string>
		<key>face_id</key>
		<string>103</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[运动背心]</string>
		<key>face_id</key>
		<string>104</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[门松]</string>
		<key>face_id</key>
		<string>105</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[圣诞树]</string>
		<key>face_id</key>
		<string>106</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[五彩纸屑球]</string>
		<key>face_id</key>
		<string>107</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[套娃]</string>
		<key>face_id</key>
		<string>108</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[滑冰]</string>
		<key>face_id</key>
		<string>109</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[毛线]</string>
		<key>face_id</key>
		<string>110</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[票]</string>
		<key>face_id</key>
		<string>111</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鲤鱼旗]</string>
		<key>face_id</key>
		<string>112</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[七夕树]</string>
		<key>face_id</key>
		<string>113</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[拼图]</string>
		<key>face_id</key>
		<string>114</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[钓鱼竿]</string>
		<key>face_id</key>
		<string>115</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[兵]</string>
		<key>face_id</key>
		<string>116</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[线]</string>
		<key>face_id</key>
		<string>117</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[美式橄榄球]</string>
		<key>face_id</key>
		<string>118</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[雪橇]</string>
		<key>face_id</key>
		<string>119</string>
	</dict>
</array>
</plist>
